<!-- templates/account/password_reset_confirm.html -->
{% extends "base.html" %}
{% load i18n %}
{% block head_title %}{% trans "Password Reset Confirm" %}{% endblock %}
{% block content %}
<div class="container mt-4 custom-container centered-content">
    <div class="row">
        <h1 class="visually-hidden">Password Reset Confirm</h1>
        <h2>{% trans "Reset Your Password" %}</h2>
        {% if validlink %}
        <form method="post">{% csrf_token %}
            {{ form.new_password1.label_tag }} {{ form.new_password1 }}
            {{ form.new_password2.label_tag }} {{ form.new_password2 }}
            <button class="btn btn-signup mt-5 custom-btn-auth" type="submit">{% trans "Change Password" %}</button>
        </form>
        {% else %}
        <p>{% trans "The password reset link is invalid, possibly because it has already been used. Please request a new password reset." %}
        </p>
        <a class="btn btn-signup mt-5 custom-btn-auth"
            href="{% url 'account_reset_password' %}">{% trans "Request New Password" %}</a>
        {% endif %}
    </div>
</div>
{% endblock %}