<!-- root/templates/account/password_reset_from_key.html -->
{% extends "base.html" %}

{% load i18n %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% trans "Change Password" %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/account.css' %}">
</head>

<body>
    <div class="container">
        <nav class="menu">
            <strong>Menu:</strong>
            <ul>
                <li>
                    <a href="{% url 'account_login' %}">{% trans "Sign In" %}</a>
                </li>
                <li>
                    <a href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a>
                </li>
            </ul>
        </nav>

        <h1>{% trans "Change Password" %}</h1>

        <form method="post" action="{% url 'account_reset_password_from_key' uidb36=uidb36 key=token %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button name="action" type="submit">
                {% trans "Change Password" %}
            </button>
        </form>
    </div>
    {% endblock %}
</body>

</html>