{% extends "base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Password Reset Done" %}{% endblock %}

{% block content %}
<div class="container mt-4 custom-container centered-content">
    <div class="row">
        <h1 class="visually-hidden">Password Reset Done</h1>
        <h2>{% trans "Password Reset Done" %}</h2>
        <p class="my-4">{% blocktrans %}We have sent you an email. If you have not received it, please check your spam
            folder.
            Otherwise, please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
        <div>
            <p class="text-center mt-4 custom-p-reset">{% blocktrans %}If you continue to have trouble, please contact
                our support team.{% endblocktrans %}</p>
        </div>
    </div>
</div>
{% endblock %}