<!-- templates/account/password_reset_complete.html -->
{% extends "base.html" %}
{% load i18n %}
{% block head_title %}{% trans "Password Reset Complete" %}{% endblock %}
{% block content %}
<div class="container mt-4 custom-container centered-content">
    <div class="row">
        <h1 class="visually-hidden">Password Reset Complete</h1>
        <h2>{% trans "Password Reset Complete" %}</h2>
        <p class="my-4">{% trans "Your password has been successfully reset." %}</p>
        <a class="btn btn-signup mt-5 custom-btn-auth" href="{% url 'account_login' %}">{% trans "Login" %}</a>
    </div>
</div>
{% endblock %}