<!-- scroll_core/templates/scroll_core/book_list.html -->
{% extends "base.html" %}
{% load static %}

{% block content %}
<main class="book-li">
    <div class="container mt-3">
        <h1>My Library Dashboard!</h1>
        <p>Explore your collection, add new finds, or dive back into old favorites. Start by browsing or
            updating your reading list! <br>"You can never get a cup of tea large enough or a book long enough to suit
            me."
            - C.S. Lewis"</p>

        <!-- Book list, one card per book -->
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-2 g-4">
            {% for book in books %}
            <div class="col">
                <div class="card h-100 border border-danger p-3 mb-5">
                    <img src="{{ book.cover_image.url }}" class="card-img-top" alt="{{ book.title }}"
                        style="height: 200px; object-fit: cover;">
                    <div class="card-body">

                        <h2 class="card-title">{{ book.title }}</h2>
                        <h3 class="card-subtitle mb-2 text-muted">
                            {% for author in book.get_authors %}
                            {{ author.full_name }}{% if not forloop.last %}, {% endif %}
                            {% empty %}
                            No authors listed
                            {% endfor %}
                        </h3>
                        <p class="card-text"><small class="text-muted">{{ book.genre.name }}</small></p>
                        <small class="text-muted">Added on {{ book.added_at|date:"Y-m-d" }}</small>
                    </div>
                    <div class="card-footer d-flex flex-column flex-lg-row justify-content-center align-items-center">
                        <a href="{% url 'book-detail' pk=book.id %}"
                            class="btn btn-sm btn-primary mb-2 mb-lg-0 me-lg-2 custom-btn-primary">View</a>
                        <a href="{% url 'book-update' pk=book.id %}"
                            class="btn btn-sm btn-secondary mb-2 mb-lg-0 me-lg-2 custom-btn-secondary">Edit</a>
                        <a href="{% url 'book-delete' pk=book.id %}"
                            class="btn btn-sm btn-danger mb-2 mb-lg-0">Delete</a>
                    </div>
                </div>
            </div>
            {% empty %}
            <div class="col">
                <p>No books found.</p>
            </div>
            {% endfor %}
        </div>

        <!-- Pagination -->
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
</main>
{% endblock %}