<!-- scroll_core/templates/scroll_core/book_list.html -->
{% extends "base.html" %}

{% block content %}
<div class="container mt-3">
    <h1>My Library Dashboard!</h1>
    <p>Explore your collection, add new finds, or dive back into old favorites. Start by browsing or
        updating your reading list! <br>"You can never get a cup of tea large enough or a book long enough to suit me."
        - C.S. Lewis"</p>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-5 g-4">
        {% for book in books %}
        <div class="col">
            <div class="card h-100">
                <img src="{{ book.cover_image.url }}" class="card-img-top" alt="{{ book.title }}"
                    style="height: 180px; object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title">{{ book.title }}</h5>
                    <p class="card-text">
                        {% for author in book.get_authors %}
                        {{ author.full_name }}{% if not forloop.last %}, {% endif %}
                        {% empty %}
                        No authors listed
                        {% endfor %}
                    </p>
                    <p class="card-text"><small class="text-muted">{{ book.genre.name }}</small></p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Added on {{ book.added_at|date:"Y-m-d" }}</small>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="col">
            <p>No books found.</p>
        </div>
        {% endfor %}
    </div>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>
{% endblock %}