{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container py-3 my-4">
    <div class="row justify-content-center">
        <!-- Centering the column -->
        <div class="col-md-8">
            <!-- Adjust the size as per your design requirements -->
            <div class="guide-container py-3 custom-guide">
                <h2 class="d-flex flex-column align-items-center">Guide</h2> <!-- Centered text for the title -->
                <ul>
                    <li><strong>Add New Books:</strong> Easily add books to your collection with details like title,
                        author, and publication year.</li>
                    <li><strong>Manage Your Collection:</strong> View and manage your book details by clicking on its
                        image in the library. In the detailed view you can by a click on hte 'Actions' button update, or
                        remove books as your collection
                        evolves. </li>
                    <li><strong>Search:</strong> Quickly find books in your collection by title or author, return to
                        library by clicking on 'Reset view' button or by clicking on the Logo or My Library in the page
                        menu.
                    </li>
                    <li><strong>Leave:</strong> Easy logout by clicking on logout in page menu.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}