core.Microsoft*
core.mongo*
core.python*
__pycache__/
*.py[cod]
node_modules/
.github/
cloudinary_python.txt
.env
env.py
.venv
scroll_core/books_data.json
env
venv
.fullDB.json
.debug.log
# Ignore SQLite database file
*.sqlite3
db.sqlite3