/* static/css/base.css */
/* Font import */
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Noto+Sans:ital,wdth,wght@0,87.5,100..900;1,87.5,100..900&family=Open+Sans&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');


/* Variables */
:root {
    /** Fonts */
    --main-font: 'Open Sans', sans-serif;
    --title: 'Poppins', sans-serif;
    --handwriting: 'Courgette', cursive;

    /** Colors */
    --clr-background: #3f006a0f;
    --clr-blue: #0d6efd;
    --clr-black: #000;
    --clr-off-white: #f6f6f6;
    --clr-white: #fff;
    --clr-dark-red: #800000;


    /* Utils */
    --box-shadow: 0px 1px 10px rgba(48, 19, 1, 0.8);
    --border: 1px solid #17023a61;
}


/* Global Style */
/* Help in achieving consistent layout across different browsers */
*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
}

html,
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: var(--main-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--title);
    color: var(--clr-dark-red)
}

/* Header */
.custom-navbar {
    background: #ff9102;
    background: -moz-linear-gradient(top, #F6E84B 0%, #ff9102 0%, #800000 100%);
    background: -webkit-linear-gradient(top, #F6E84B 0%, #ff9102 0%, #800000 100%);
    background: linear-gradient(to, bottom, #F6E84B 0%, #ff9102 0%, #800000 100%);
    box-shadow: 0px 1px 10px rgba(48, 19, 1, 0.8);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

img.logo {
    margin: 0px;
    width: 5rem;
}

.active {
    border-bottom: 3px solid var(--clr-dark-red);
    font-weight: 500;
}

/* Search form */
.custom-form {
    width: 100%;
    margin: 3% auto;
    box-shadow: 0px 1px 10px rgba(48, 19, 1, 0.8);
    border-radius: 5px;
    background-color: var(--clr-off-white);
}

.custom-search-btn {
    border-color: #800000;
    background-color: #ff9102;
}

.navbar-brand {
    color: rgba(128, 0, 0, 1);
    font-weight: bold;
    font-size: 1.5rem;
}

.nav-link {
    font-size: 1.5rem;
}

.nav-link:hover {
    color: #01300c;
}


/* Main */

main {
    flex: 1 0 auto;
}

/* Adjust or add to your existing CSS */
.hero.jumbotron {
    background-image: url('/static/images/hero.webp');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* Full viewport height */
    height: 100vh;
    padding: 0;
    margin-bottom: 0;
}

.overlay {
    background-color: rgba(255, 255, 255, 0.1);
}

.hero .container {
    border-radius: 2em;
    padding: 1em;
    box-shadow: 1px 1px 32px 7px rgb(93, 3, 3);
}

.text-center {
    background-color: #ffdeade6;
}

/* Jumbotron style */
.jumbotron .display-4 {
    font-weight: bold;
    font-size: 3rem;
    font-family: courgette;
    color: rgba(128, 0, 0, 1);
}

.jumbotron .lead-a {
    font-size: 2rem;
    color: rgba(128, 0, 0, 1);
}

.jumbotron p.lead-b {
    font-size: 1.5rem;
    color: rgba(128, 0, 0, 1);
    padding: 0;
}

.btn {
    margin: 0.5em;
    border-radius: 20px;
    color: rgb(0, 0, 0);
    box-shadow: var(--box-shadow);
    font-size: large;
    width: 150px;
    display: inline-block;
    text-align: center;
}

.custom-btn-prim {
    border-color: #007bff;
    background-color: #007bff6b;
}

.custom-btn-secondary {
    border-color: #15d40b;
    background-color: #77d372;
}


/* Signup, Login and Logout page */

.custom-container {
    width: 100%;
    margin: 3% auto;
    background-color: #ffdeade6;
    border-radius: 10px;
    border: 1px solid var(--clr-dark-red);
    box-shadow: var(--box-shadow);
    padding-top: 10px;
}

.custom-btn-auth {
    width: 150px;
    display: inline-block;
    text-align: center;
    border-color: #007bff;
    background-color: #007bff6b;
}

.custom-btn-auth-secondary {
    width: 150px;
    display: inline-block;
    text-align: center;
    border-color: #15d40b;
    background-color: #77d372;
}



/* Footer */

footer {
    flex-shrink: 0;
    background: linear-gradient(to bottom, #800000 0%, #ff9102 100%, #F6E84B 100%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

/* Base styles for the social icons */
.social-icon {
    height: 2rem;
    margin: 2rem;
    /* Smooth transition for transform and opacity changes */
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    /* Slightly transparent by default */

}

/* Hover styles for the social icons */
.social-icon:hover {
    transform: scale(1.1);
    /* Scale up the icon slightly */
    opacity: 1;
    /* Full opacity on hover */
}