<!-- templates/errors/404.html -->
{# Extends the base layout from 'base.html' #}
{% extends "base.html" %}

{# Loads Django's static files tag for accessing CSS, JS, or images #}
{% load static %}

{# This block is where the main content of the page is defined. #}
{% block content %}

{# Display the error message. #}
<div class="container">
    <h1>Error 404: Not Found</h1>
    <p>The page you are looking for might have been removed, had its name changed, or is temporarily unavailable.</p>

    {# Link to allow the user to return to the home page #}
    <a class="text-url" href="{% url 'home' %}">Return to
        home</a>
</div>
{% endblock %}