<!-- templates/errors/404.html -->
{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="d-flex vh-100 justify-content-center align-items-center">
    <div class="text-center p-4 shadow-lg rounded">
        <h1>Error 404: Not Found</h1>
        <p>The page you are looking for might have been removed, had its name changed, or is temporarily unavailable.
        </p>
        <a href="{% url redirect_url %}" class="btn btn-sm mt-2" id="custom-error-btn">Return to Home</a>
    </div>
    {% endblock %}