<!-- templates/errors/500.html -->
{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="d-flex vh-100 justify-content-center align-items-center">
    <div class="text-center p-4 shadow-lg rounded">
        <h1>Error 500: Internal Server Error</h1>
        <p>Something went wrong on our end. Please try again later or contact support if the problem persists.</p>

        <a href="{% url 'home' %}" class="btn btn-success btn-sm mt-2">Return to Home</a>
    </div>
    {% endblock %}