<!-- templates/includes/footer.html -->
{% load static %}


<!-- Footer -->
<footer class="footer mt-auto py-3 bg-light">
    <div class="container text-center">
        <p>Follow us on our Social media</p>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="https://facebook.com" target="_blank" rel="noopener noreferrer"
                    aria-label="Facebook"><i class="fab fa-facebook"></i></a></li>
            <li class="list-inline-item"><a href="https://instagram.com" target="_blank" rel="noopener noreferrer"
                    aria-label="Instagram"><i class="fab fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="https://twitter.com" target="_blank" rel="noopener noreferrer"
                    aria-label="Twitter"><i class="fab fa-twitter"></i></a></li>
        </ul>
    </div>
    <div class="container text-center">
        <p class="foot">© This site was developed as an educational project for the Full Stack Software Development
            diploma program at the Code Institute.</p>
    </div>
</footer>