<!-- templates/includes/header.html -->
{% load static %}


<header class="sticky-top">
  <!-- Header sticks to top of screen at all times -->
  {% with request.resolver_match.url_name as url_name %}
  <nav class="navbar navbar-expand-lg bg-body-tertiary custom-navbar">
    <div class="container-fluid">
      <!-- Logo -->
      <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'images/logo.webp' %}" alt="Site Logo"
          class="logo" width="50"></a>
      <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Navigation items -->
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto mb-2">

          {% if request.user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link {% if url_name == 'book-list' %}active{% endif %}" href="{% url 'book-list' %}">My
              Library</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if url_name == 'book-create' %}active{% endif %}" href="{% url 'book-create' %}">Add
              Book</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if url_name == 'account_logout' %}active{% endif %}"
              href="{% url 'account_logout' %}">Logout</a>
          </li>
          <li class="nav-item">
            <a class="nav-link username" href="#"><i class="fas fa-user"></i> {{ user.username }}</a>
          </li>

          {% else %}
          <li class="nav-item">
            <a class="nav-link {% if url_name == 'home' %}active{% endif %}" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if url_name == 'account_login' %}active{% endif %}"
              href="{% url 'account_login' %}">Log In</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if url_name == 'account_signup' %}active{% endif %}"
              href="{% url 'account_signup' %}">Sign Up</a>
          </li>
          {% endif %}
        </ul>
        {% if request.user.is_authenticated %}
        <!-- Form for search bar, only visible when authenticated -->
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success custom-form" type="submit">Search</button>
        </form>
        {% endif %}
      </div>
    </div>
  </nav>
  {% endwith %}
</header>